
body {
	background-size: 12.5vw;
	background-image: url(images/index-background.jpg);
	background-repeat: repeat;
}

body * {
	padding: 0;
	margin: 0;
	font-family: sans-serif;
	text-decoration: none;
	color: black;
}

body > header {
	position: fixed;
	display: table-cell;
	width: 100vw;
	height: 10vh;
	top: 0;
	left: 0;
	background-color: orange;
	z-index: 1;
	border: 1vh solid darkorange;
	border-width: 0 0 1vh 0;
}

body > header > p {
	padding: 2.8vh;
	font-size: 4vh;
}

body > header > p > img {
	height: 4vh;
}

body > header img.user {
	position: fixed;
	padding: 1.4vh;
	right: 0;
	top: 0;
	height: 8vh;
}

body.login > form {
	width: 30vw;
	height: 15vh;
	margin: 15vh 30vw 15vh 30vw;
	padding: 0 5vw 0 5vw;
	background-color: orange;
	border: 1vmin solid darkorange;
	text-align: center;
	border-radius: 1vmin;
}

body.campaign > img {
	text-align: center;
	height: 50%;
	width: 50%;
	padding-top: 10%;
	padding-left: 25%;
}

body.courses > div {
	margin-top: 15vh;
	margin-left: 19.5vw;
	margin-right: 19.5vw;
	width: 60vw;
	background-color: orange;
	border: 0.5vw solid darkorange;
	border-radius: 1vw;
	padding-top: 1%;
	padding-bottom: 1%;
}

body.courses > div > h1 {
	margin-top: 1vw;
	margin-bottom: 1vw;
	text-align: center;
	background-color: darkorange;
	transition: 0.25s;
	padding-top: 1%;
	padding-bottom: 1%;
}

body.courses > div > h1:hover {
	background-color: hsl(43,100%,70%);
}

body.courses > div > ol {
	width: 80%;
	padding-left: 10%;
	padding-right: 10%;
	font-size: 4vmin;
	text-align: center;
}

body.courses > div > ol > li:hover {
	transition: 0.25s;
}

body.courses > div > ol > li:hover {
	background-color: hsl(43,100%,70%);
}

footer.scroller {
	position: fixed;
	width: 100vw;
	height: 20vh;
	bottom: 2.5vh;
	left: 0;
	background-color: orange;
	border: 10px solid darkorange;
	border-width: 1vh 0 1vh 0;
}

footer.scroller > figure {
	position: relative;
	display: inline-block;
}

footer.scroller > figure figcaption {
	position: absolute;
	font-weight: bold;
	color: white;
	background-color: rgba(0, 0, 0, 0.60);
	opacity: 0;
	padding: 0;
	transition: padding 0.5s, opacity 0.5s;
}

footer.scroller > figure:hover figcaption {
	padding: 0.7em;
	opacity: 1;
}

footer.scroller > figure img {
	height: 20vh;
}

footer.play {
	position: fixed;
	text-align: center;
	border: 1vh solid darkorange;
	border-radius: 4vh 4vh 0 0;
	border-width: 1vh 1vh 0 1vh;
	font-size: 5vh;
	padding: 5vmin;
	width: 35vw;
	height: 10vh;
	bottom: 0;
	left: 30vw;
	background-color: orange;
	transition: 0.25s;
}

footer.play:hover {
	border-color: #CA5500;
	background-color: #FF8700;
}

chat {
	position: fixed;
	left: 0;
	border: 1px solid black;
	background: linear-gradient(90deg, rgba(0,0,0,0.6), rgba(0,0,0,0.4));
}

chat > h1 {
	height: 10%;
	text-align: center;
	font-size: 150%;
	background: rgba(0,0,0,0.4);
	color: white;
}

chat > textarea {
	width: 95%;
	height: 80%;
	resize: none;
	color: white;
	background-color: rgba(0,0,0,0);
	padding-left: 5%;
	border: none;
}

chat > input {
	width: 97%;
	height: 9%;
	resize: none;
	border: none;
	font-size: 1.0em;
	padding-left: 3%;
	color: white;
	background-color: rgba(255,255,255,0.2);
}

chat.index {
	width: 25vw;
	top: 15vh;
	bottom: 27.5vh;
}

chat.minigame {
	width: 25vw;
	top: 30vh;
	bottom: 27.5vh;
}

chat.campaign {
	width: 25vw;
	height: 45vh;
	bottom: 0;
}

social {
	position: fixed;
	right: 0;
	border: 1px solid black;
	color: white;
	background: linear-gradient(90deg, rgba(0,0,0,0.4), rgba(0,0,0,0.6));
}

social > h1 {
	text-align: center;
	background: rgba(0,0,0,0.4);
	color: white;
}

social > table {
	width: 100%;
}

social > table td {
	text-align: center;
	color: white;
}

social.index, social.minigame {
	width: 25vw;
	top: 15vh;
	bottom: 27.5vh;
}

menu.index {
	position: fixed;
	top: 25vh;
	left: 35vw;
	width: 30vw;
	background-color: orange;
	border: 1vh solid darkorange;
	border-radius: 1vh;
}

menu.index > h1 {
	text-align: center;
	left: 0;
	background-color: darkorange;
}

menu.index > p > a {
	display: inline-block;
	margin: 2%;
	text-align: center;
	width: 96%;
	height: 15%;
	background: darkorange;
	font-size: 4vh;
	transition: 0.25s;
}

menu.index > p > a:hover {
	background: hsl(43,100%,70%);
}

menu.campaign {
	position: fixed;
	font-size: 3vmin;
	padding: 2vh;
	right: 0;
	bottom: 0;
	width: 60vw;
	background-color: orange;
	border: 1vh solid darkorange;
	border-width: 1vh 0 0 1vh;
	border-radius: 1vh 0 0 0;
}

menu.campaign > a {
	margin: 2vh;
	padding: 2vh;
	background-color: darkorange;
}

rules {
	position: fixed;
	top: 15vh;
	left: 33vw;
	width: 35vw;
	height: 56vh;
	text-align: center;
	border: 1vh solid darkorange;
	border-radius: 1vh;
	background-color: orange;
}

rules > h1 {
	background-color: darkorange;
}

rules > img {
	padding: 5%;
	width: 50%;
}

a.course {
	position: fixed;
	font-size: 7vh;
	padding: 1.5vh;
	text-align: center;
	border: 1px solid black;
	border-radius: 0 2vh 2vh 0;
	color: white;
	top: 15vh;
	left: 0;
	width: 23.5vw;
	background: rgba(0,0,0,0.6);
	transition: 0.25s;
}

a.course:hover {
	background: rgba(0,0,0,0.2);
	color: black;
}

@keyframes background {
	from { background-position: 100% 0; }
	to { background-position: 0 0; }
}

