<!DOCTYPE html>
<html>
<head>
	<title>A propos</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="style.css">
	<script src="scripts/session.js"></script>
</head>
<body onload="wake()">
<header>
	<p>
		<a href="index.html">Menu Principal</a>
		<img src="images/arrow.png" alt=">"></img>
		<a href="about.html">A propos</a>
	</p>
	<p id="user"></p>
</header>
<div>
	<h1>A propos</h1>
	<p>
		<img src="images/logo.png" alt="Logo Legend of Ada" />
		<i>Legend of Ada</i> est un projet réalisé dans le cadre du troisième semestre de DUT Informatique à <a href="https://iut2.univ-grenoble-alpes.fr/">l'IUT2 de Grenoble</a>.
		Il est mené par un groupe de 7 étudiants : Valentin DEBON, Anne GAISNE, Alexis GOUZON, Romain PASDELOUP, Alexandre SALMON, Nathaniel SHERMAN et Antoine TECHER.
		<br />
		Nous remercions Mathilde GAISNE pour la réalisation du logo textuel et de l'avatar Ada. <br/>
		Le contenu de nos cours provient en grande majorité du livre <i>Myriade, Maths 3e</i> édité chez Bordas.
		<br />
		<br />
		2018 - Tous droits réservés.
	</p>
</div>
</body>
</html>
