<!DOCTYPE html>
<html>
<head>
	<title>Aventure</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="style.css">
	<script src="scripts/session.js"></script>
	<script src="scripts/adventure.js"></script>
</head>
<body class="adventure" onload="wake()">
<header>
	<p>
		<a href="index.html">Menu Principal</a>
		<img src="images/arrow.png" alt=">"></img>
		<a href="adventure.html">Aventure</a>
	</p>
	<p id="user"></p>
</header>
<div id="dialog">
	<h2>Ada</h2>
	<p>Mashallah on va niquer cette teupu de mekaristote</p>
</div>
<img id="avatar" src="http://api.legendofada.eu/adventure/avatars/Ada.png"></img>
<img id="worldmap" alt="Map du Monde" usemap="#map"></img>
<map name="map">
</map>
<menu></menu>
</body>
</html>
