<!DOCTYPE html>
<html>
<head>
	<title>Menu</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" type-"text/css" href="style.css">
</head>
<body class="campaign">
<header>
	<p>
		<a href="index.html">Menu Principal</a>
		<img src="images/arrow.png" alt=">"></img>
		<a href="campaign.html">Campagne</a>
	</p>
	<img src="images/user.jpg"></img>
</header>
<chat class="campaign">
	<h1>Chat</h1>
	<textarea readonly>
	</textarea>
	<input></input>
</chat>
<img src="images/Monde.png"></img>
<menu class="campaign">
	<a>Monde 1</a>
	<a>Monde 2</a>
	<a>Monde 3</a>
	<a>Monde 4</a>
	<a>Monde 5</a>
</menu>
</body>
</html>
