<!DOCTYPE html>
<html>
<head>
	<title>Mini-jeu</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" type-"text/css" href="style.css">
</head>
<body class="courses">
<header>
	<p>
		<a href="index.html">Menu Principal</a>
		<img src="images/arrow.png" alt=">"></img>
		<a href="courses.html">Leçons</a>
	</p>
	<img src="images/user.jpg"></img>
</header>
<div>
	<h1>Thème A</h1>
	<ol>
		<li>Chapitre 1</li>
		<li>Chapitre 2</li>
		<li>Chapitre 3</li>
		<li>Chapitre 4</li>
	</ol>
	<h1>Thème B</h1>
	<h1>Thème C</h1>
	<h1>Thème D</h1>
	<h1>Thème E</h1>
</div>
</body>
</html>
