<!DOCTYPE html>
<html>
<head>
	<title>Jeu</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="style.css">
	<script src="scripts/session.js"></script>
	<script src="scripts/game.js"></script>
</head>
<body class="game" onload="wake()">
<header>
	<p>
		<a href="index.html">Menu Principal</a>
		<img src="images/arrow.png" alt=">"></img>
		<a href="game.html">Mini-jeu</a>
	</p>
	<p id="user"></p>
</header>
<a id="course">Cours</a>
<rules>
</rules>
<social class="game">
	<h1>Leaderboards</h1>
	<table>
	</table>
</social>
<footer id="play"><h1>Commencer</h1></footer>
</body>
</html>
