<!DOCTYPE html>
<html>
<head>
	<title>Menu</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="style.css">
	<script src="scripts/session.js"></script>
	<script src="scripts/index.js"></script>
</head>
<body class="index" onload="wake()">
<header>
	<p>
		<a href="index.html">Menu Principal</a>
	</p>
	<p id="user"></p>
</header>
<menu class="index">
	<img src="images/logo.png">
	<p>
		<a href="adventure.html">Aventure</a>
		<a href="games.html">Mini-jeux</a>
		<a href="courses.html">Cours</a>
	</p>
</menu>
<social class="trends">
		<h1>Tendances</h1>
		<div>
			<figure class="game">
				<a href="game.html?id=1">
					<figcaption>Eratoaster</figcaption>
					<img src="http://api.legendofada.eu/games/1/preview.png"/>
				</a>
			</figure>
			<figure class="game">
				<a href="game.html?id=1">
					<figcaption>Eratoaster</figcaption>
					<img src="http://api.legendofada.eu/games/1/preview.png"/>
				</a>
			</figure>
			<figure class="game">
				<a href="game.html?id=1">
					<figcaption>Eratoaster</figcaption>
					<img src="http://api.legendofada.eu/games/1/preview.png"/>
				</a>
			</figure>
			<figure class="game">
				<a href="game.html?id=1">
					<figcaption>Eratoaster</figcaption>
					<img src="http://api.legendofada.eu/games/1/preview.png"/>
				</a>
			</figure>
		</div>
</social>
<social class="index">
	<h1>Social</h1>
	<div>
		<div class="friends">
			<table>
				<tr><th>Amis</th><th>Statut</th><th>Quitter</th></tr>
			</table>
			<div class="request">
				<input id="friendname" type="text" maxlength="32" placeholder="Nom" required><br>
				<button onclick="addFriend()">Ajouter un ami</button>
			</div>
		</div>
		<div class="guilds">
			<table>
				<tr><th>Guildes</th><th>Chef</th></tr>
			</table>
			<div class="request">
				<input id="guildname" type="text" maxlength="32" placeholder="Guilde" required><br>
				<button onclick="actionGuild('join')">Joindre une guilde</button>
				<button onclick="actionGuild('add')">Créer une guilde</button>
			</div>
		</div>
	</div>
</social>
</body>
</html>
