<!DOCTYPE html>
<html>
<head>
	<title>Menu</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body class="index">
<header>
	<p>
		<a href="index.html">Menu Principal</a>
	</p>
	<img src="images/user.jpg"></img>
</header>
<menu class="index">
	<h1>Menu</h1>
	<p>
		<a href="campaign.html">Campagne</a>
		<a href="game.html">Mini-jeux</a>
		<a href="courses.html">Cours</a>
	</p>
</menu>
<chat class="index">
	<h1>Chat</h1>
	<textarea readonly>
	</textarea>
	<input></input>
</chat>
<social class="index">
	<h1>Social</h1>
</social>
<footer class="scroller">
	<figure>
		<a href="game.html">
			<figcaption>Un mini jeu</figcaption>
			<img src="images/minigame.png"></img>
		</a>
	</figure>
	<figure>
		<a href="game.html">
			<figcaption>Un mini jeu</figcaption>
			<img src="images/minigame.png"></img>
		</a>
	</figure>
	<figure>
		<a href="game.html">
			<figcaption>Un mini jeu</figcaption>
			<img src="images/minigame.png"></img>
		</a>
	</figure>
	<figure>
		<a href="game.html">
			<figcaption>Un mini jeu</figcaption>
			<img src="images/minigame.png"></img>
		</a>
	</figure>
	<figure>
		<a href="game.html">
			<figcaption>Un mini jeu</figcaption>
			<img src="images/minigame.png"></img>
		</a>
	</figure>
</footer>
</body>
</html>
