<!DOCTYPE html>
<html>
<head>
	<title>Menu</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="style.css">
	<script src="scripts/session.js"></script>
	<script src="scripts/profile.js"></script>
</head>
<body class="profile" onload="wake()">
<header>
	<p>
		<a href="index.html">Menu Principal</a>
		<img src="images/arrow.png" alt=">"></img>
		<a href="profile.html">Profil</a>
	</p>
	<p id="user"></p>
</header>
<div>
	<h1 id="username"></h1>
	<div>
		<img id="avatar"></img>
		<div>
			<a href="about.html">À propos</a>
			<a href="submit.html">Proposition de contenu</a>
			<a href="login.html">Déconnexion</a>
		</div>
	</div>
	<div id="achievements">
	</div>
</div>
</body>
</html>
