<!DOCTYPE html>
<html>
<head>
	<title>Suggestion</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="style.css">
	<script src="scripts/session.js"></script>
	<script src="scripts/submit.js"></script>
</head>
<body class="submit" onload="wake()">
<header>
	<p>
		<a href="index.html">Menu Principal</a>
		<img src="images/arrow.png" alt=">"></img>
		<a href="submit.html">Suggestion</a>
	</p>
	<p id="user"></p>
</header>
<div>
	<h1>Suggestion</h1>
	<p>
	Vous pouvez suggérez deux types de mini jeux, des qcms ou des mini jeux plus ludiques<br/>
	Vous trouverez ici toutes les ressources nécessaires aux développements de ceux ci<br/>
	</p>
	<a href="documentation/Documentation - Creation QCM.pdf">Pour les qcms</a>
	<a href="documentation/ApiMiniJeux.pdf">Pour des mini jeux plus approfondis</a>
</div>
</body>
</html>
