<!DOCTYPE html>
<html>
<head>
	<title>Suggestion</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="style.css">
	<script src="scripts/session.js"></script>
	<script src="scripts/submit.js"></script>
</head>
<body class="submit" onload="wake()">
<header>
	<p>
		<a href="index.html">Menu Principal</a>
		<img src="images/arrow.png" alt=">"></img>
		<a href="submit.html">Suggestion</a>
	</p>
	<p id="user"></p>
</header>
<div>
	<h1>Suggestion</h1>
	<p>
	Vous pouvez suggérer deux types de mini jeux, des QCMs ou des mini-jeux plus ludiques de votre création<br/>
	Vous trouverez ici toutes les ressources nécessaires aux développements de ceux-ci.<br/>
	Le contenu doit être approprié aux élèves de troisièmes. Le score doit toujours être visible à l'écran dans le coin en haut à gauche.<br/>
	Si vous souhaitez réaliser un mini-jeu de votre création, vous devez respecter la structuration du dossier fourni en complétant le contenu de game.js en effaçant son contenu.<br/><br/>
	Une fois le code de votre mini-jeu finalisé, envoyer le à l'adresse : legendofada.contact@gmail.com
	</p>
	<div id="docs">
		<a href="documentation/Documentation - Creation QCM.pdf">Documentation de qcms</a>
		<a href="documentation/ApiMiniJeux.pdf">Documentation pour des mini jeux plus approfondis</a><br/>
		<a href="http://api.legendofada.eu/games/qcmDefaut.zip" download>Fichiers par défaut pour la création</a>
	</div>
</div>
</body>
</html>
